
@{
    ViewData["Title"] = "CRUD Personas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1> CRUD PERSONAS</h1>

<h2> Este es el proyecto de prueba realizado por Joao Alberto Navarro Sanchez  </h2>
<hr />

<p>Para poder usar el Crud, en el bar de arriba clikea en CRUD Personas para ir a la vista principal de la prueba</p>


